<h3 class="mt-5 mb-5 mx-auto text-center">
    About Me
</h3>

<div class="about-me-container d-flex flex-column neomorphism-card-flat mx-auto p-5 fs-7 pb-4">
    <p>
        As a Senior Software Development Engineer, I specialize in crafting responsive, visually appealing, and cross-platform compatible applications. With a strong background in both front-end and back-end development, I excel in solving complex challenges, particularly in configuring API endpoints.
    </p>
    <p>
        I am known for my collaborative and positive approach to teamwork, contributing to a solid foundation of web applications. My current focus involves optimizing user experiences and enhancing application functionalities.
    </p>
    <p>
        In summary, I am passionate about pushing technological boundaries, always eager to learn and grow in the dynamic field of software development.
    </p>
</div>