

:root {
    --bgColor: #dbdbdb;
    --shadow1: #bababa;
    --shadow2: #fcfcfc;
    --primary-color: #004E89;
    --concave-gradient-start: #c5c5c5;
    --concave-gradient-end: #eaeaea;
}

@mixin neomorphism-card($bgColor) {
    border-radius: 50px;
    background: $bgColor;
    box-shadow: 20px 20px 60px var(--shadow1), -20px -20px 60px var(--shadow2);
}

.neomorphism-card-flat {
    @include neomorphism-card(var(--bgColor));
    .concave-on-hover:hover {
        background: linear-gradient(145deg, var(--concave-gradient-start), var(--concave-gradient-end));
    }
}

.neomorphism-card-concave {
    @include neomorphism-card(linear-gradient(145deg, var(--concave-gradient-start), var(--concave-gradient-end)));
}

body {
    margin: 0;
}

.hero-section {
    height: 100vh;
    width: 100vw;
    background-color: var(--bgColor);
    position: relative;
}

.hero-section .intro-section-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-section .intro-section-container .intro-section {
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    height: 300px;
    width: 35vw;

    @media (max-width: 768px) {
        width: 95vw;
        height: 45vh;
    }
}



.intro-section .name {
    color: var(--primary-color);
}

.social-icons {
    display: flex;
}

.social-icons .social {
    height: 4rem;
    width: 4rem;
}

@import "minima";